/* Write your CSS here */
/* Write your CSS here */
.repository-item {
  height: 350px;
  width: 350px;
  background-color: #f8f8ff;
  border: 0px solid;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.repository-image {
  height: 100px;
  width: 100px;
  align-self: center;
  padding-top: 15px;
}
.repository-name {
  text-align: center;
  color: #e73959;
  font-family: 'Roboto';
}
.stats-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding-left: 100px;
}
.stats-icon {
  height: 25px;
  padding-left: 10px;
  align-self: center;
}
.stats-text {
  margin-left: 5px;
  align-self: center;
}
