/* Write your CSS here */
/* Write your CSS here */
.heading {
  font-family: 'Lobster';
  text-align: center;
  padding-top: 10px;
  font-size: 45px;
}
.filters-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.repositories-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.three-dots-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
