/* Write your CSS here */
/* Write your CSS here */
.lang-filer-item {
  list-style-type: none;
}
.language-btn-active-language-btn {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
}
.language-btn {
  color: #0f172a;
  border: 0px solid;
  border-radius: 15px;
  background-color: transparent;
  margin-right: 10px;
  font-size: 20px;
}
